<!DOCTYPE html>
<html>
<head>
    <title>PetClinic</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<h1>PetClinic Registration</h1>

<form>

    <input type="text" placeholder="Owner Name"><br><br>

    <input type="text" placeholder="Address"><br><br>

    <input type="text" placeholder="Contact Number"><br><br>

    <input type="text" placeholder="Pet Name"><br><br>

    <select>
        <option>Dog</option>
        <option>Cat</option>
        <option>Bird</option>
        <option>Rabbit</option>
    </select>

    <br><br>

    <button type="submit">Register</button>

</form>

</body>
</html>